<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questionDao" class="ru.otus.spring01.dao.QuestionDaoImpl">
        <property name="fileName" value="questions.csv"/>
    </bean>

    <bean class="ru.otus.spring01.service.ConsoleServiceImpl" init-method="init">
        <property name="questionDao" ref="questionDao"/>
    </bean>

</beans>
