<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questionDao" class="ru.otus.spring01.dao.QuestionDaoImpl">
        <property name="fileName" value="questions.csv"/>
    </bean>

    <bean id="ioStreamFactory" class="ru.otus.spring01.service.IOStreamFactory"/>

    <bean id="in" factory-bean="ioStreamFactory" factory-method="getInputStream"/>

    <bean id="out" factory-bean="ioStreamFactory" factory-method="getPrintStream"/>

    <bean id="ioService" class="ru.otus.spring01.service.SystemIOService">
       <constructor-arg name="in" ref="in"/>
        <constructor-arg name="out" ref="out"/>
    </bean>

    <bean id="userInfoService" class="ru.otus.spring01.service.UserInfoServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="questionService" class="ru.otus.spring01.service.QuestionServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean class="ru.otus.spring01.service.ConsoleQuizServiceImpl">
        <constructor-arg name="userInfoService" ref="userInfoService"/>
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionService" ref="questionService"/>
    </bean>

</beans>
