.app-wrapper {
  display: grid;
  margin: auto;
  width: 1200px;
  grid-template: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: darkseagreen;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #4caf50;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/*tr:hover {
  background-color: darkgreen;
  color: red;
}*/

tr:nth-child(even) {
   background-color: #f2f2f2;
 }

tr:nth-child(odd) {
  background-color: lightgray;
}
